*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(9, 184, 166);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    display: grid;
    height: 350px;
    width: 800px;
    padding: 60px;
    grid-template-columns: 1fr 1fr ;
    border-top-left-radius: 50px;
}
.logo{
    background-image: url(png/login.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
}
.head{
    text-align: center;
    margin-top: 30px;
}
.form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin: 10px;
    width: 300px;
    height: 35px;
    outline: none;
    padding-left: 8px;
    font-size: 15px;
}
#user{
    margin-top: 30px;
}
#user, #pswd{
    border: 0ch;
    border-bottom: 2px solid darkgray ;
}
#user:hover ,#pswd:hover {
    border-bottom: 2px solid rgb(10, 127, 252) ;

}
#sbn{
    margin-top: 20px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    border: none;
}
#sbn:active{
    transform: translateY(5px);
    cursor: pointer;
}
.frg a{
    text-decoration: none;
    color: black;
}
.frg a:hover{
    color: red;
}

